<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.664213348016-38e70imrirp3ad2n3faj716hlqqn2i81</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>logo-launch</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
